/* Standard Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F5;
    font-family: "Roboto Light", "Jost", sans-serif;
}

h2 {
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

/* Grid */
.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: 0.8rem;
}

.col-1 {
    width: 16.666%;
}

.col-2 {
    width: 33.333%;
}

.col-3 {
    width: 50%;
}

.col-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General Styles */
.logo {
    width: 100%;
    margin: 1.5rem 0 0.5rem 0;
    text-align: center;
}

.data-field {
    width: 17rem;
    height: 2.5rem;
    margin: 0.5rem;
    border: 1px solid #B9BABB;
    border-radius: 5px;
    padding-left: 1rem;
}

input:hover {
    border-color: #0063F7;
    transition: background-color 1s;
}

input[type=text]:focus{
    outline: none;
    border: 1px solid #0063F7;
}

::placeholder {
    font-size: 1.2em;
}

.button {
    width: 17rem;
    height: 2.5rem;
    border: none;
    /*margin: 1rem;*/
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: grey;
    transition: 1ms;
}

.button--primary {
    background: #0063F7;
}

.button--success {
    background: #05A660;
}

.button--encouraging {
    background: #E57A00;
}

.upload-box {
    font-size: 10rem;
    background: white;
    border-radius: 50px;
    width: 350px;
    outline: none;
}

input[type="file"] {color: white}

::-webkit-file-upload-button {
    color: #F2F2F5;
    background: #e57a00;
    margin: 0 1.2rem 0 0;
    padding: 0.8rem;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.data-checkbox {
    margin: 0.3rem 0 0 0.3rem;
}

.pdf-preview {
    border: 1px solid #B9BABB;
    border-radius: 5px;
}

.progress {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 1rem 0 1.5rem 0;
    background: #C4C4C4;
    overflow: hidden;
}

.progress--fill {
    width: 50%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    /*background: #0063F7;*/
    background: linear-gradient(45deg, rgba(255,255,255,0.5) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.5) 75%, transparent 75%, transparent 75%);
    background-size: 40px;
    animation: move 0.5s;
    transition: all 0.2s;
}

.set-color {
    background-color: #0063F7;
    width: 65%;
    height: 100%;
}

.progress--text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: #C4C4C4;
}

.creator {
    position: absolute;
    width: 100%;
    text-align: center;
}