:root {
    --main-bg-color: #F2F2F5;
    --main-color-primary: #0063F7;
    --main-color-secondary: #8F90A6;
    --main-color-success: #05A660;
    --main-color-error: #E53535;
    --main-color-encouraging: #E57A00
}

/* Standard Style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    font-family: "Roboto Light", "Jost", sans-serif;
}

h2 {
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.gate-label {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

/* Grid */
.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: 0.8rem;
}

.col-1 {
    width: 16.666%;
}

.col-2 {
    width: 33.333%;
}

.col-3 {
    width: 50%;
}

.col-6 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General Styles */
.slick-comm-logo {
    width: 100%;
    margin: 1.5rem 0 0.5rem 0;
    text-align: center;
}

.slick-comm-logo--animation {
    animation: pulse 1s linear infinite;
}

.slick-comm-icon {
    padding-top: 0.2rem;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.data-field {
    width: 17rem;
    height: 2.5rem;
    margin: 0.5rem;
    border: 1px solid #B9BABB;
    border-radius: 5px;
    padding-left: 1rem;
}

.data-color-field::-webkit-color-swatch-wrapper {
    width: 10rem;
    margin: 0.5rem 0 0 0.5rem;
    padding: 0;
}

.data-color-field::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}

input[type = "color"] {
    -webkit-appearance: none;
    border: none;
    width: 15rem;
    height: 2rem;
    cursor: pointer;
}

input[type = "color"]:hover {
    border: none;
}

input[type=text]:hover {
    border-color: var(--main-color-primary);
    transition: background-color 1s;
}

input[type=text]:focus{
    outline: none;
    border: 1px solid var(--main-color-primary);
}

input[disabled] {
    cursor: not-allowed;
}

input[disabled][type=text]:hover {
    border: 1px solid var(--main-color-secondary);
}

::placeholder {
    font-size: 1.2em;
}

.border--success {
    border: 1px solid var(--main-color-success)
}

.border--error {
    border: 1px solid var(--main-color-error)
}

.button {
    width: 17rem;
    height: 2.5rem;
    border: none;
    /*margin: 1rem;*/
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--main-color-secondary);
    transition: 1ms;
}

.button--primary {
    background: var(--main-color-primary);
}

.button--success {
    background: var(--main-color-success);
}

.button--error {
    background: var(--main-color-error);
}

.button--encouraging {
    background: var(--main-color-encouraging);
}

.upload-box {
    font-size: 10rem;
    background: white;
    border-radius: 50px;
    width: 350px;
    outline: none;
}

::-webkit-file-upload-button {
    color: var(--main-bg-color);
    background: var(--main-color-encouraging);
    margin: 0 1.2rem 0 0;
    padding: 0.8rem;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.data-checkbox {
    margin: 0.3rem 0 0 0.3rem;
}

.pdf-preview {
    border: 1px solid #B9BABB;
    border-radius: 5px;
}

.progress {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 1rem 0 1.5rem 0;
    background: var(--main-color-secondary);
    overflow: hidden;
}

.progress--fill {
    width: 50%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background: repeating-linear-gradient(to right, #0063F7, #0063F7 10px, #007DFF 10px, #007DFF 20px);
    background-size: 20px;
    animation: move 0.9s linear infinite;
    transition: all 0.2s;
}

@keyframes move {
    100% {
        background-position: 40px 0;
    }
}

.set-color {
    background-color: var(--main-color-primary);
    height: 100%;
}

.progress--text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: var(--main-color-secondary);
}

.creator {
    text-align: center;
    bottom: 0;
    width:100%;
}

.notification {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 15rem;
    height: 8rem;
    background-color: #FAFAFC;
    box-shadow: 0 0 6px 4px rgba(85, 87, 112, 0.25);
    margin: 1rem;
    padding: 0.5rem 0.5rem;
    border: 2px solid #555770;
    border-radius: 5px;
}

.error-message {
    color: var(--main-color-error);
    margin: 0 0 0 0.5rem;
    font-size: 0.9rem;
}

.success-message {
    color: var(--main-color-success);
    margin: 0 0 0 0.5rem;
    font-size: 0.9rem;
}

.color-text {
    margin-top: -2rem;
    margin-left: 12rem
}

.invalid {
    border-color: red;
}

/* u.a. in loading.html */
.info-message {
    font-size: 1.1rem;
    background: none;
    margin-bottom: 1rem;
}

/* gate-html */
#gate-body {
    overflow: hidden;
}